body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#main-container {
    margin-top: auto;
    margin-bottom: auto;
}

#link-twitch {
    text-decoration: none;
}

#link-twitch:link{
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
}

#link-twitch:visited{
    color: violet;
    background-color: transparent;
    text-decoration: none;
}

#link-twitch:hover{
    color: slateblue;
    background-color: transparent;
    text-decoration: underline;
}

#link-twich:active{
    color: darkmagenta;
    background-color: transparent;
    text-decoration: underline;

}

#link-face {
    text-decoration: none;
}

#link-face:link{
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

#link-face:visited{
    color: brown;
    background-color: transparent;
    text-decoration: none;
}

#link-face:hover{
    color: aqua;
    background-color: transparent;
    text-decoration: underline;
}

#link-face:active{
    color: royalblue;
    background-color: transparent;
    text-decoration: underline;

}
